@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family:'Fira Mono', monospace;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1C1827;
  color: white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
